/*
* {
  outline: 1px dotted orange;
}
*/

.note {
  position: absolute;
  /*box-shadow: 2px 2px 3px #000;*/
  border: 1px solid #000;
  -webkit-backface-visibility: hidden;
  opacity: 1;
}

.clip {
  transition: all .6s ease-out;
}

.newnote {
  animation: waggle 350ms linear;
}

.loadnote {
  animation: pop 350ms linear;
}

.shake {
  animation: shake 70ms linear infinite;
}

@keyframes shake {
  25% { transform: translate(2px); }
  75% { transform: translate(-2px); }
}

@keyframes waggle {
  25% { transform: rotate(15deg); }
  50% { transform: rotate(-10deg); }
  75% { transform: rotate(8deg); }
  100% { transform: rotate(0deg); }
}

@keyframes pop {
  0% { transform: scale(.1); }
  25% { transform: scale(.3); }
  50% { transform: scale(.8); }
  75% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

body {
   background: url("assets/pin-board-67130_1280.jpg") no-repeat center center fixed;
   background-size: 100% 100%;
   position: relative;
   z-index: 1;
}

   /*background-repeat: no-repeat;*/
}

body>div:first-child {
  font-family: 'Cabin Sketch', cursive;
  color: #301600;
  font-size: 175px;
  font-weight:599;
  height: 50px;
  width: 120px;
  position: fixed;
  top: 30%;
  left: 35%;
}

.note:hover .noteTrash {
  display: inline;
}

.note:hover .noteTitle {
  border-bottom: 1px solid black;
}

.note:hover .noteSetFColor {
  display: block;
}

.noteGFilter {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: radial-gradient(#fff, #eee, #ccc);
  opacity: 1;
}

.noteFilter {
  position: relative;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: .3;
  cursor: move;
}

.noteMarginTop {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 5px;
  cursor: move;
}

.noteMarginRight {
  position: absolute;
  top: 5px;
  bottom: 0px;
  right: 0px;
  width: 5px;
  height: calc(100% - 10px);
  cursor: ew-resize;
}

.noteMarginBottom {
  position: absolute;
  bottom: 0px;
  height: 5px;
  width: 100%;
  opacity: 1;
  cursor: ns-resize;
}

.noteMarginLeft {
  position: absolute;
  top: 5px;
  bottom: 0px;
  left: 0px;
  width: 5px;
  height: calc(100% - 10px);
  cursor: ew-resize;
}

.note input,textarea {
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;
  background-color: rgba(0,0,0,0);
  opacity: 1;
}

.noteTitle {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 20px;
  width: 120px;
  font-family: 'Architects Daughter';
  font-size: 20px;
}

.noteTrash {
  position: absolute;
  display: none;
  width: 20px;
  height: 20px;
  top: 5px;
  right: 5px;
  text-align: right;
  color: #622;
  font-family: courier;
  cursor: pointer;
}

.noteSetFColor {
  position: absolute;
  display: none;
  width: 25px;
  right: -30px;
  top: 10px;
  padding-left: 5px;
  opacity: .8;
}

.noteSetFColor:hover {
  display: block;
}

.noteSetFColor div {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 3px;
  margin: 2px;
}

.noteInput {
  position: absolute;
  width: calc(100% - 10px);
  height: calc(100% - 35px);
  top: 30px;
  left: 5px;
  color: #000;
  font-family: 'Architects Daughter';
  font-size: 16px;
}

.noteResize {
  position: absolute;
  width: 10px;
  height: 10px;
  right: 0px;
  bottom: 0px;
  cursor: nwse-resize;
}


.curl1 {
  -webkit-box-shadow: 1px 1px 4px 1px #000;
}

.curl2{
  /*position:relative;*/
}

.curl2:before, .curl2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 5px;
  width: 100%;
  top: 92%;
  max-width:242px;
  background: #000;
  -webkit-box-shadow: 0 15px 10px #000;
  -webkit-transform: rotate(-3deg);
  -webkit-overflow: hidden;
}
.curl2:after
{
  -webkit-transform: rotate(3deg);
  right: 5px;
  left: auto;
  overflow: hidden;
}


.curl3{
  /*position: relative;**/
}

.curl3:before, .curl3:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 5px;
  right: 35px;
  width: 80%;
  top: 92%;
  /*max-width:242px;*/
  background: #000;
  -webkit-box-shadow: 0 15px 10px 0px #000;
  -webkit-transform: rotate(-3deg);
  /*-webkit-overflow: hidden;*/
}

.curl3:after
{
  -webkit-transform: rotate(1deg);
  right: 5px;
  left: auto;
  overflow: hidden;
}




#newNoteButton {
  background-color: tan;
  color: black;
  font-style: bold;
  text-align: center;
  font-weight: 595;
  font-size: 32px;
  font-family:'Cabin Sketch';
  width: 150px;
  height: 30px;
  position: fixed;
  top: 85%;
  left: 7%;
  /* border-bottom: double; */
  opacity: 0.9;
  filter: alpha(opacity=10);
  border-radius: 5px;
  margin: auto;
  /*add shadow effect*/
  box-shadow: 2px 2px black;
  padding: 5px 0;
}

 /*change in colo-intensity with hover,*/  /*change bounce or press effect on click */
 #newNoteButton:hover {
   background-color: black;
   padding-top: 10px;
   height: 25px;
   color: tan;
   font-size: 20px;
  cursor: pointer;
   transition-property: all;
   transition-duration: 1000ms;

 }

/*add bounce effect on click */

/*change bounce or press effect on click */





 /* #newNoteButton {background-color: #3e8e41}

 #newNoteButton {
   background-color: #3e8e41;
   box-shadow: 0 5px #666;
   transform: translateY(4px);
   }

/*curl code mostly from paullund.co.uk*/

.trashing {
  animation: spindrop 1.5s ease-in;
}

@keyframes spindrop {
  100% {transform: rotate(720deg);
        top:1500px;}
}
